@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 246 246 246;
  --foreground: 15 23 42;
}

body {
  min-height: 100vh;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

